.header {
  background-color: #fff;
}

.header_logo {
  max-width: 300px;
  padding: 10px;
}

.header_logo img {
  max-height: 50px;
  width: auto;
}

.header_menu {
  justify-content: space-evenly;
  font-family: var(--karla);
  font-size: var(--p-font-size);
  font-weight: bold;
  color: var(--dark-gray);
}

.header_menu :hover {
  color: var(--yellow);
}