.header {
    display: flex;
    background-color: #fff;
}

.header_logo {
    flex: 1;
    width: 60%;
    height: auto;
    margin-right: auto;
    align-items: center;
}

.header_menu {
    display: flex;
    justify-content: flex-end;
}