.specials {
  padding: 30px 60px 30px 60px;
}

.ant-card {
  background-color: var(--light-gray);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.ant-card .specials_greek-salad_price {
  font-weight: bold;
  font-size: var(--h4-font-size);
  color: var(--orange);
}

.ant-card .specials_bruschetta_price {
  font-weight: bold;
  font-size: var(--h4-font-size);
  color: var(--orange);
}

.ant-card .specials_lemon-dessert_price {
  font-weight: bold;
  font-size: var(--h4-font-size);
  color: var(--orange);
}

a {
  color: var(--dark-gray);
  font-family: var(--karla);
  font-size: var(--p-font-size);
  font-weight: normal;
  text-decoration: underline;
}

a:hover {
  color: var(--orange);
  text-decoration: underline;
}

.specials h2 {
  padding: 0 0 20px 0;
}

.specials p {
  font-family: var(--karla);
  font-size: var(--p-font-size);
  font-weight: normal;
  color: var(--dark-gray);
}

.specials_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials_menu-link {
    font-family: var(--karla);
    font-size: var(--h4-font-size);
    font-weight: normal;
    color: var(--dark-gray);
    text-decoration: none;
    text-decoration: underline;
}

.specials_menu-link:hover {
  color: var(--orange);
}