.about-us {
  padding: var(--section-padding);
  background-color: var(--green);
}

.about-us_text {
  color: var(--white);
}

.about-us_image {
  text-align: right;
}

.about-us_image img {
  width: 70%;
  height: auto;
  border-radius: 10px;
}