.about-us {
  display: flex;
  padding: 30px 60px 30px 60px;
  background-color: var(--green);
}

.about-us_text {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 30px;
  color: var(--white);
}
.about-us_image {
  flex: 1;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us_image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}
