.footer {
  background-color: #f5f5f5;
  padding: var(--section-padding);
}

.footer_logo img {
  height: 250px;
  width: auto;
  margin-top: 30px;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.footer li {
  list-style: none;
  margin-bottom: 10px;
}

footer h4 {
  margin-top: 30px;
  font-family: var(--markazi-text);
  font-size: var(--h4-font-size);
  font-weight: normal;
}

.footer a {
  font-family: var(--karla);
  font-size: var(--p-font-size);
  color: var(--dark-gray);
  text-decoration: none;
}

.footer a:hover {
  color: var(--orange);
  text-decoration: underline;
}