.testimonials {
  padding: 30px 60px 30px 60px;
}

.testimonials_cta {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ant-card-meta-description {
    font-size: var(--p-font-size);
    color: var(--dark-gray);
}

.ant-card {
  margin-top: 20px;
}