.testimonials {
  padding: var(--section-padding);
}

.testimonials_cta {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ant-card-meta-description {
  font-size: var(--p-font-size);
  color: var(--dark-gray);
}

.ant-card {
  margin-top: 20px;
}

.testimonials_card {
  width: 100%;
}