.header {
  background-color: #fff;
  height: 72px;
}

.header_logo {
  max-width: 300px;
  padding: 10px;
}

.header_logo img {
  max-height: 50px;
  width: auto;
  margin-left: 50px;
}

.header_menu {
  float: right;
  text-align: right;
  margin-right: 50px;
  height: 70px;
  line-height: 70px;
  font-family: var(--karla);
  font-size: var(--p-font-size);
  font-weight: bold;
  color: var(--dark-gray);
}

.header_menu :hover {
  color: var(--yellow);
}