h1 {
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Markazi Text', serif;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  font-family: 'Markazi Text', serif;
  font-size: 32px;
  font-weight: normal;
  margin-top: 0;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.ant-btn-primary {
  background: #f4ce14;
  border: none;
  color: #333;
  font-weight: bold;
  border-radius: 10px;
}

.ant-btn-primary:hover {
  background: #e0b800 !important;
  color: #333 !important;
  border-color: #e0b800 !important;
}