.hero {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #495E57;
  width: 100%;
  padding: 30px 60px 30px 60px;
}

.hero h1 {
  color: #f4ce14;
  margin-bottom: 0;
}

.hero h2 {
  color: #ffffff;
  margin-top: 0;
}

.hero p {
  color: #ffffff;
}

.hero_text {
  flex: 1;
}

.hero_image {
  flex: 1;
  text-align: right;
}

.hero_image img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}